
@font-face {
  font-family: "iconfont";
  src: url("/static/iconfont.ttf?t=1639380986688") format("truetype");
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 32upx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-qita:before {
  content: "\f0141";
}

.icon-infofill:before {
  content: "\e6e4";
}

.icon-80dianliang:before {
  content: "\e617";
}

.icon-xinhao:before {
  content: "\e627";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-xinhao1:before {
  content: "\e61f";
}

.icon-zuojiantou:before {
  content: "\e60a";
}

.icon-date:before {
  content: "\e602";
}

.icon-time:before {
  content: "\e60f";
}

.icon-arrow:before {
  content: "\e6ab";
}

.icon-link:before {
  content: "\e620";
}

.icon-emoji:before {
  content: "\e60b";
}

.icon-good:before {
  content: "\e653";
}

.icon-chat:before {
  content: "\e64e";
}

.icon-imgIcon:before {
  content: "\e608";
}

.icon-shanchu:before {
  content: "\e65f";
}